<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Message</title>
</head>
<body>
  Your message: <%= AES.decrypt(@message.text, @message.encryption_key) %><br>
  <% if @message.destroyed_via_link_visits? %>
    Visits remaining: <%= @message.visits_remaining %>
  <% else %>
    Will be destroyed after: <%= @message.time_remaining %>
  <% end %>
  <br>
  <a href="/">Create another message</a>
</body>
</html>